<footer>
    <div id = "footer-header">
        <p>@ Coding Ninjas. All Rights Reserved</p>
    </div>

    <div id ="footer-part2">
        <div>
            <p><a href="/">Home</a></p>
        </div>
        <div>
            <p><a href ="/users/Profile">Profile</a></p>
        </div>
    </div>

</footer>